<div id="<%= dom_id social_account %>">
  <p>
    <strong>Github account:</strong>
    <%= social_account.github_account_id %>
  </p>

  <p>
    <strong>Linkedin account:</strong>
    <%= social_account.linkedin_account_id %>
  </p>

  <p>
    <strong>Google account:</strong>
    <%= social_account.google_account_id %>
  </p>

  <p>
    <strong>Fcabook account:</strong>
    <%= social_account.fcabook_account_id %>
  </p>

</div>
