<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-cornflower-blue">
    <div class="container-fluid font-weight-bold">
      <a class="navbar-brand" href="<%= authenticated_root_path %>">
        <%= image_tag 'favicon/mstile-150x150.png', size: '40*30', class: '' %>
      </a>
      <button class="navbar-toggler collapsed text-white-on-hover" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav-left-full" aria-controls="sidenav-left-full" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-th-list fa-lg"></i>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item font-size-12">
            <a class="nav-link <%= active_link_to_class(authenticated_root_path, active: :exclusive) %>" href="<%= authenticated_root_path %>">Home</a>
          </li>
          <li class="nav-item font-size-12">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item font-size-12">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item font-size-12">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarSettingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-cog fa-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end animated fadeInDown faster" aria-labelledby="navbarSettingsDropdown">
              <li><a class="dropdown-item phl-4" href="#">Action</a></li>
              <li><a class="dropdown-item phl-4" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= button_to(destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item phl-4 text-wild_watermelon-on-hover') do %>
                  <i class="fas fa-sign-out-alt"></i> Sign-out
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
