<div id="<%= dom_id chat_channel %>">
  <p>
    <strong>Name:</strong>
    <%= chat_channel.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= chat_channel.status %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= chat_channel.private %>
  </p>

  <p>
    <strong>Personal:</strong>
    <%= chat_channel.personal %>
  </p>

</div>
