<%= form_with(model: chat_channel) do |form| %>
  <% if chat_channel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chat_channel.errors.count, "error") %> prohibited this chat_channel from being saved:</h2>

      <ul>
        <% chat_channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :private, style: "display: block" %>
    <%= form.text_field :private %>
  </div>

  <div>
    <%= form.label :personal, style: "display: block" %>
    <%= form.text_field :personal %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
